<section class="ftco-section services-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 order-md-last heading-section pl-md-5 ftco-animate d-flex align-items-center">
                <div class="w-100">
                    <span class="subheading">Welcome to Char Dham Yatra</span>
                    <h2 class="mb-4">Embark on a Sacred Journey</h2>
                    <p>The Char Dham Yatra is a revered pilgrimage covering four sacred shrines: Yamunotri, Gangotri, Kedarnath, and Badrinath, nestled in the majestic Himalayas of Uttarakhand.</p>
                    <p>
                        Each of these sites holds immense spiritual significance and attracts devotees from all over India and beyond. Whether seeking divine blessings or an adventurous escape into nature, Char Dham offers a unique and enriching experience.
                    </p>
                    <p><a href="https://wa.me/8595114446?text=Hello!%20Can%20I%20get%20more%20info%20on%20this?%20Packegs%20https://www.pathkaleido.com/images/CharDham.jpg" class="btn btn-primary py-3 px-4">Plan Your Yatra</a></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                        <div class="services services-1 color-1 d-block img" style="background-image: url(/images/Yamunotri_Temple.jpg);">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-hindu-temple"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Yamunotri</h3>
                                <p>Dedicated to Goddess Yamuna, this temple is the starting point of the Char Dham Yatra.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                        <div class="services services-1 color-2 d-block img" style="background-image: url(/images/Gangotri_Temple.jpg);">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-hindu-temple"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Gangotri</h3>
                                <p>The origin of the sacred River Ganga, Gangotri is a must-visit pilgrimage site.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                        <div class="services services-1 color-3 d-block img" style="background-image: url(/images/Kedarnath_temple.jpg);">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-hindu-temple"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Kedarnath</h3>
                                <p>One of the twelve Jyotirlingas of Lord Shiva, located at an altitude of 3,583 meters.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                        <div class="services services-1 color-5 d-block img" style="background-image: url(/images/Badrinath.jpg);">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-hindu-temple"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Badrinath</h3>
                                <p>The abode of Lord Vishnu, Badrinath is the final destination of the Char Dham Yatra.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
